langchain
langchain-community
langchain-openai
langchain-groq
langgraph
openai
groq
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
ipykernel
langchain-huggingface
sentence-transformers
torchvision
pypdf